#gallery-nav {
    background-color: black;
    color: white;
    padding: 30px;
    margin-bottom: 2%;
}

#photo-gallery {
    margin-bottom: 2%;
}

#pages {
    margin-top: 2%;
    margin-bottom: 8%;
}